<form action = '/add_bookmark' method = post >
    <input type="submit" value="Add new bookmark">
</form> 

  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark[:url] %>><%= bookmark[:title] %></a></li>
  <% end %>


